/*
/*.

!/README.md

!/.gitconfig
!/.gitconfig_local
!/.gitignore
!/.gitignore_global

!/.tmux.conf

!/.zprofile
!/.zshenv
!/.zshrc

!/.emacs.d
/.emacs.d/.emacs-places
/.emacs.d/history
/.emacs.d/auto-save-list

!/env_creation.sh
